<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="container d-flex flex-wrap">
    <div class="container py-3">
      <div class="row">
        <div class="col-6 col-md">
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                routerLink="/under-construction"
                >Programme</a
              >
            </li>
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                routerLink="/under-construction"
                >Networking</a
              >
            </li>
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                routerLink="/under-construction"
                >Help</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                routerLink="/under-construction"
                >Speakers</a
              >
            </li>
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                routerLink="/under-construction"
                >Resources</a
              >
            </li>
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                routerLink="/under-construction"
                >Video On Demand</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                routerLink="/under-construction"
                >About</a
              >
            </li>
            <li class="mb-1">
              <a
                class="link-secondary text-decoration-none"
                routerLink="/under-construction"
                >Downloads</a
              >
            </li>
          </ul>
        </div>

        <div class="col-12 col-md float-end" style="text-align: right">
          <h5>Contact with Us</h5>
          <img
            class="social-icon"
            style="height: 32px"
            src="/assets/youtube-brands.svg"
          />
          <img
            class="social-icon"
            style="height: 32px"
            src="/assets/linkedin-in-brands.svg"
          />
          <img
            class="social-icon"
            style="height: 32px"
            src="/assets/instagram-brands.svg"
          />
        </div>
      </div>
    </div>
    <div style="width: 100%">
      <div
        class="
          col-12
          list-unstyled
          text-small
          link-secondary
          text-decoration-none
        "
      >
        <p
          style="display: block; text-align: right"
          class="text-decoration-none copy-right-text"
        >
          Privacy Statement | Cookie Policy<br />
          @2021 The Occum Lab Private Limited. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
