<div class="container py-3 site-body">
  <main>
    <div class="flex-container mt-6">
      <div class="text-box">
        <h1>Welcome</h1>
        <p>
          Zheng Jie Ng<br /><br />
          To commemorate Occam Lab's 400th Anniversary, we are convening leaders
          of our most important partners, investee companies and counterparties
          globally at a special edition of The Occam Conference.
        </p>
        <p>
          With the theme, Towards a Ecological Future, the forum will seek
          perspectives from global thought leaders on the partinent
          sustainability trends and itiatives that are needed to build a more
          resilient and equitable future.
        </p>
      </div>
      <img
        class="featured-image"
        alt="Image Loading . . ."
        src="/assets/occam_freen_flower.png"
      />
      <div class="inner-stripe"></div>
    </div>
  </main>
</div>
