.site-body {
  min-height: 450px;
  position: relative;
  top: 50px;
  font-size: 1.1rem;
}

.flex-container {
  display: flex;
  flex-basis: auto;
}

.text-box {
  border-left: 30px solid #1c3c34;
  padding-left: 40px;
}

.featured-image {
  margin-left: 5px;
  margin-right: 7px;
  border-left: 10px solid #1c3c34;
  border-right: 5px solid #1c3c34;
  padding-left: 10px;
  padding-right: 20px;
  object-fit: cover;
  height: auto;
}

.inner-stripe {
  border-left: 10px solid #1c3c34;
  border-right: 30px solid #1c3c34;
  padding: 5px;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .featured-image {
    order: 1;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 10px solid #1c3c34;
    border-bottom: 5px solid #1c3c34;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 0 5px 0;
    object-fit: cover;
  }

  .text-box {
    order: 2;
    width: 100%;
    border-left: 0px;
    padding-left: 0px;
    border-bottom: 5px solid #1c3c34;
    margin-bottom: 20px;
  }

  .inner-stripe {
    order: 3;
    width: 100%;
    border-left: 0px;
    border-right: 0px;
    border-top: 5px solid #1c3c34;
    border-bottom: 15px solid #1c3c34;
    padding: 5px;
  }
}
