<div class="container py-3 site-body">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <app-slim-image></app-slim-image>
        <br />

        <a href="#">Edit</a>
        <dl>
          <dt>Sarah Patricia Sarahson</dt>
          <dd>SVP, Occam Lab Pte Ltd.</dd>
        </dl>

        <br />
        <dt>Account Settings</dt>
        <dd>SVP, Occam Lab Pte Ltd.<br />sarah.patricia@tif.com</dd>

        <dt>Time Zone</dt>
        <dd>(UTC+08:00)Kuala Lumpur, Singapore</dd>
        <a href="#">Edit</a>

        <dt>Visibility</dt>
        <dd>You are currently not visible to other attendees</dd>
      </div>
    </div>
  </div>
</div>
